body {
    animation: Gradient 12s ease infinite;
    background: linear-gradient(-45deg, $bg-orange, $bg-red, $bg-blue2, $bg-green);
    background-size: 400% 400%;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.home {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    .dat-header {
        text-align: center;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.25em;
    }

    .base {
        font-family: $base-font-family;
    }

    .pop {
        color: $white;
        display: block;
        font-family: $script-font-family;
        font-size: 3em;
        text-shadow: 3px 3px $black;
    }

    a {
        &.call-to-action {
            align-items: center;
            animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
            background: $white;
            border-radius: 4px;
            box-shadow: 0 0 6px rgba($black, .5);
            color: $black;
            display: flex;
            font-family: $base-font-family;
            font-size: 1.5em;
            justify-content: center;
            margin: 3em auto 0;
            max-width: 65%;
            padding: .75em 2em;
            text-decoration: none;

            @keyframes pulse {
                to {
                    box-shadow: 0 0 0 40px rgba($black, 0);
                }
            }

            img {
                margin: 0 .5em;
                width: 150px;
            }

            &:active,
            &:focus,
            &:hover {
                animation: none;
                box-shadow: 2px 2px 12px $black;
                outline: none;
            }
        }
    }
}

.player-container {
    border-radius: 10px;
    box-shadow: 0 4px 50px rgba($black, .75);
    font-family: $base-font-family;
    height: 800px;
    margin: 5vh auto 2vh;
    position: relative;
    width: 500px;

    @media screen and (max-width: 500px) {
        width: 90vw;
        margin-top: 1.5em;
        height: 550px;
    } 
}

.album-cover {
    background: $black;
    height: 400px;
    margin: 3em auto;
    width: 400px;

    @media screen and (max-width: 500px) {
        height: 70vw;
        margin-bottom: .5em;
        width: 70vw;
    }

    img {
        max-width: 100%;
    }
}

.player-content {
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.song {
    text-align: center;

    h1 {
        font-size: 1.25em;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            color: rgba($white, .65);
            display: inline-block;
            text-align: center;

            &::after {
                content: ',';
                display: inline-block;
                margin-right: .25em;
            }

            &:last-child {
                &::after {
                    content: '';
                    display: none;
                    margin-right: 0;
                }
            }
        }
    }
}

button {
    align-items: center;
    background: $white;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba($black, .5);
    color: $black;
    display: flex;
    font-family: $base-font-family;
    font-size: 1.25em;
    justify-content: center;
    margin: 3em auto 0;
    max-width: 65%;
    padding: .75em 2em;

    @media screen and (max-width: 500px) {
        flex-direction: column;
        margin-top: .5em;
    }

    .count {
        color: rgba($black, .5);
        margin-left: .5em;

        @media screen and (max-width: 500px) {
            font-size: .75em;
            margin-left: 0;
        }
    }
}

.gradient {
    border-radius: 10px;
    height: 100%;
    position: absolute;
    width: 100%;
}

.gradient-feature {
    background-image: linear-gradient(90deg, $bg-pink, $bg-blue);
}

.gradient-base {
    background-image: linear-gradient(transparent, $black);
}

p {
    color: $white;
    display: block;
    font-family: $base-font-family;
    font-size: .8em;
    margin: 0 auto 1em;
    text-align: center;
}

.footer-logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}
