// Typography
$base-font-family: 'Montserrat', sans-serif;
$secondary-font-family: Helvetica, sans-serif;
$heading-font-family: $base-font-family;
$script-font-family: 'Sedgwick Ave Display', cursive;
$icon: 'FontAwesome';

// Font Sizes
$base-font-size: 1em;
$small-font-size: 0.9em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$green: #72bf94;
$dark-green: darken($green,20%);
$pale-blue: #72bebf;
$bg-pink: #C074B2;
$bg-blue: #8AB5E8;
$bg-blue2: #23A6D5;
$bg-orange: #EE7752;
$bg-red: #E73C7E;
$bg-green: #23D5AB;
$red: #D00036;
$blue: #72a7bf;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$off-white: #efefef;
$white: #fff;
$black: #000;
$silver: silver;

// Font Colors
$base-font-color: $dark-gray;
$action-color: darken($blue, 5%);

// Box Shadow
$shadow: 6px 0 8px -8px;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;