// style framework
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'global';
@import 'grid-helpers';

// App elements
body,
html {
    -webkit-font-smoothing: antialiased;
}

#app {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}
